@model Infraestructure.Models.reservacion

@{
    ViewBag.Title = "Edit";
}

<h2>Se ha actualizado correctamente</h2>

@using (Html.BeginForm("Save", "reservacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
       </div>
       
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
