@model Infraestructure.Models.plan_residencia

@{
    ViewBag.Title = "IndexEstadosxMes";
}

<h2>IndexEstadosxMes</h2>


@{
    var estadoCuenta = new List<Infraestructure.Models.plan_residencia>();
    estadoCuenta = ViewBag.lista;
    ViewBag.Title = "IndexEstadosxMes";
    var estadoMes = new List<Infraestructure.Models.plan_residencia>();
}


<h2>Listado de Planes Asignados por Mes</h2>
<div class="text-center row">

    <div class="col-lg-2 col-md-2 col-sm-6">
        @Html.DropDownListFor(model => model.fecha.Month,
           (SelectList)ViewBag.listaMes,
           "Todos",
           htmlAttributes: new { @class = "form-control", @id = "idMes" })
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <button class="btn btn-primary" onclick="Filtrar()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
    </div>

</div>

<br />
<div>

    <span class="glyphicons glyphicons-hand-left"></span>
    <div id="tablaReservas">

        @Html.Partial("_PartialViewListaEstados", estadoMes)

    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function Filtrar() {


           
            var idMes = $("#idMes").val();
            $.ajax({
                url: '@Url.Action("obtenerFiltro", "PlanResidencia")', 
                type: 'POST',
                data: {
                    mes: idMes,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
}
