@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<address>
    TerraNostra<br />
   Costa Rica, CR 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Supporte@ejemplo.com</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:Marketing@example.com">Mecadeo@ejemplo.com</a>
</address>