
@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>TerraNostra</h1>
        <p class="lead">Un lugar para tu hogar</p>

    </div>
    <div class="jumbotron">
        <h1>Noticias</h1>
        <p class="lead">"Aquí van las noticias"</p>

    </div>
</center>


