
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Bienvenidos a TerraNostra</h1>
    <p class="lead">Un lugar para tu hogar</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Información &raquo;</a></p>
</div>


