@model Infraestructure.Models.plan_cobro

@{
    ViewBag.Title = "Details";

    var totalSum = Model.total;
    foreach (var c in Model.rubro_cobro)
    {
        totalSum += c.monto;
    }
}


<div>
    <hr />
    <h4>Información detallada de plan cobro</h4>
    <hr />
 
    <div class="col-md-8">
        <div class="card-body">
            <span class="card-title" style="font-size: 25px; font-weight: 500; line-height: 1.2">@Html.DisplayFor(model => model.detail)</span>
            <p class="card-text" style="color: #E45641; font-weight: 500;"
               @totalSum;   
                </p>

            <p class="card-text">
                <i class="fa-solid fa-bookmark"></i> <b>@Html.DisplayNameFor(model => model.rubro_cobro):</b>
                <ul>
                    @foreach (var c in Model.rubro_cobro)
                    {
                        <li>@c.detalle</li>
                    }
                </ul>
            </p>

        </div>
    </div>
</div>
        <p>

            @Html.ActionLink("Volver a la lista", "Index")
        </p>
