@model Infraestructure.Models.plan_residencia

@{
    var estadoCuenta = new List<Infraestructure.Models.plan_residencia>();
    estadoCuenta = ViewBag.lista;
    ViewBag.Title = "Reporte Deudas";
 
    var estadoCuentaUsuario = new List<Infraestructure.Models.plan_residencia>();
}
@{ 
    int estados = 0;
    if (estadoCuentaUsuario != null)
    {

       foreach (var item in estadoCuentaUsuario.ToList())
        {
            if (item.estado== estados)
            {
                estadoCuentaUsuario.Add(item);
            }
        }
    }

}
<br />

<center><h4 style="font-family: Broadway">Reporte de Deudas</h4></center>
<br />
<div class="text-center row">

    <div class="col-lg-2 col-md-2 col-sm-6">
        @Html.DropDownListFor(model => model.fecha.Month,
           (SelectList)ViewBag.listaMes,
           "Todos los meses",
           htmlAttributes: new { @class = "form-control", @id = "idMes" })
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        @Html.DropDownListFor(model => model.residencia.numeroCasa,
           (SelectList)ViewBag.idResidencia,
           "Todas las residencias",
           htmlAttributes: new { @class = "form-control", @id = "idResidencia" })
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <button class="btn btn-primary" onclick="Filtrar(@estados)"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
    </div>

</div>

<br />
<div>

    <span class="glyphicons glyphicons-hand-left"></span>
    <div id="tablaReservas">

        @Html.Partial("_PartialViewReporte", estadoCuentaUsuario)

    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function Filtrar(estadoAjax) {

            var idUsuario = estadoAjax;
            var idResidencia = $("#idResidencia").val();
            var idMes = $("#idMes").val();
            $.ajax({
                url: '@Url.Action("obtenerFiltro", "PlanResidencia")',
                type: 'POST',
                data: {
                    residente: idResidencia,
                    mes: idMes,
                    estado: idUsuario,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
}
