@model IEnumerable<Infraestructure.Models.incidente>

@{
    ViewBag.Title = "Index";
}
<br />



<center><h4 style="font-family: Broadway">Crear Incidentes</h4></center>
<p>
    <a href="@Url.Action("Create", "Incidencia")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear incidente</a>
    @*@Html.ActionLink("Crear", "Create")*@
</p>

@if (ViewBag.NotificationMessage != null)
{
    <script>
        swal('@ViewBag.NotificationMessage.Title', '@ViewBag.NotificationMessage.Message', '@ViewBag.NotificationMessage.Type');
    </script>
}