@model Infraestructure.Models.areaComun

@{
    ViewBag.Title = "Área Común";
}

@{
    var estadoCuenta = new List<Infraestructure.Models.areaComun>();
    estadoCuenta = ViewBag.lista;
    var estadoMes = new List<Infraestructure.Models.areaComun>();
}
<br />
<br />

<div class="row">
    <center><h4 style="font-family: Broadway">Áreas Comunes</h4></center>

    <div class="col-lg-2 col-md-2 col-sm-6">
        @Html.DropDownListFor(model => model.id,
           (SelectList)ViewBag.listTipos,
           "Todos",
           htmlAttributes: new { @class = "form-control", @id = "idTipo" })
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <button class="btn btn-primary" onclick="Filtrar()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>

    </div>


</div>

<div>

    <span class="glyphicons glyphicons-hand-left"></span>
    <div id="tablaReservas">

        @Html.Partial("_PartialViewByTipo", estadoMes)

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function Filtrar() {
            var valestado = $("#idTipo").val();
            $.ajax({
                url: '@Url.Action("obtenerFiltro", "AreaComun")',
                type: 'POST',
                data: {
                    tipo: valestado,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
}

